/* * {
    margin: 0;
    padding: 0;
}*/

/* body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #696969;
    margin: 0;
    padding: 0;
}  */

.home{
    max-width: 1460px;
    background-color: white;
    padding: 0;
} 

/*ACIMA DO MENU*/
.logo {
    width: 75px;
    height: 75px;
    margin: 0 20px 10px 0;
}

.buscar {
    width: 40%;
}

.text-input {
    width: 300px;
}

#botao-busca {
    background: #016f33;

}

#imagem-busca {
    width: 24px;
    height: 24px;
}

.icone-topo {
    width: 24px;
    height: 24px;
}

/*MENU CATEGORIA*/
a:link, a:visited {
    color: #016f33;
    padding: 2px;
}

a:hover {
    color: #133a01df;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
    background: #016f33;
    float: left;
}

#topo ul li {
    float: left;
}

#topo ul a {
    font-size: 0.9em;
    padding: 0.5em 1.5em;
    display: block;
    line-height: 2.1em;
    text-decoration: none;
    color: #ffffff;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {}

/*FOOTER*/
.footer-separacao {
    background: #016f33;
    height: 40px;
    margin: 20px 0;
}

.links-footer {
    margin: 40px 40px 60px 40px;
    text-align: left; 
}
.links-footer-pos {
    display: flex;
    justify-content: center;
    
}

.links-footer h5 {
    color: #016f33;
}

.links-footer a {
    color: black;
    text-decoration: none;
}

.links-footer a:hover {
    color: #016f33;
}

.contatos {
    background-color: #e6e6e6;
    border: black;
    padding: 25px 15px;
    margin: 0 200px;
}

.item-contato {
    padding: 20px 60px 20px 60px;
    line-height: 1;
}

.item-contato strong {
    color: #016f33;
}

#anvisa-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}

.pagamentos-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pagamentos-footer img {
    margin: 15px 25px 15px 0;
}

.info-footer {
    margin: 20px 0;

}
.logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-footer {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    margin: 0 auto;
}


.copyr {
    height: 40px;
    margin: 20px 0 0 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #f1f1f1;
}

.copyr strong {
    color: #016f33;
}

/* estilo tela de pagamento */
.cont-pagamento {
    top: 2vh;
    left: 2vw;
    background-color: white;
    height: 100px;
}

.logo-pagamento {
    height: 147px;
    background-color: rgb(226,223,223);
}
.logo-rd{
    left: 9vw;
    margin-left: 10vw;
    margin-top: 20px;
    height: 100px;
    width: 100px;
    background-image: url(../images/logo\ raia\ redimensionado.png);
    background-position: center;
    background-size: 100px;
}

.principal-pagamento{
    height: 600px;
}

.footer-pagamento {
    bottom: 4vh;
    height: 147px;
    background-color: rgb(226,223,223);
}